@import url("https://fonts.googleapis.com/css?family=Prociono");
@import url("https://fonts.googleapis.com/css?family=Great+Vibes");
@import url("https://fonts.googleapis.com/css?family=Text+Me+One");
.item {
  background-color: #3e3e3b;
  border-radius: 0.61538rem;
  margin: 1.53846rem;
  padding: 1.15385rem; }
  @media (min-width: 76.30769rem) {
    .item {
      width: 30%;
      min-width: 100px;
      max-width: 16.92308rem; } }
  .item__title {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #ebeced;
    text-align: center;
    font-family: "Text Me One", sans-serif; }
    @media (min-width: 76.30769rem) {
      .item__title {
        font-size: 1.69231rem; } }
  .item__description {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #ebeced;
    text-align: center;
    font-family: "Text Me One", sans-serif; }
    @media (min-width: 76.30769rem) {
      .item__description {
        font-size: 0.92308rem; } }
  .item__discount {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #ebeced;
    background-color: #f26968;
    border-radius: 50%;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media (min-width: 76.30769rem) {
      .item__discount {
        width: 3.07692rem;
        height: 3.07692rem; } }
