@import "_general.sass"

body, html
	+reset

%heading
	margin: 0
	padding: rem(20) 0
	font: rem(60) $title
	color: $dark-purple
	+breakpoint($lg)
		padding: rem(35) 0

.cm
	&-header
		box-sizing: border-box
		background-color: $pinker
		background-image: linear-gradient(to top right, $pinker 50%, $white 50%)
		display: flex
		justify-content: space-around
		align-items: center
		flex-wrap: wrap
		align-content: space-around
		height: 100vh
		width: 100vw
		padding: 10% 0
		+breakpoint($lg)
			z-index: 6 //fazer sumir as dots

		img
			border-radius: 50%
			border: 5px solid $purple
			height: 40%
			+breakpoint($lg)
				height: 50%
				border-width: 10px

		&__content
			text-align: center
			+breakpoint($lg)
			margin: 0

		&__title
			+reset
			color: $dark-purple
			font: rem(50) $slim
			margin-bottom: 3%
			+breakpoint($lg)
				font-size: rem(90)

		&__subtitle
			+reset
			color: $dark-purple
			font: rem(30) $slim
			+breakpoint($lg)
				font-size: rem(50)
				line-height: rem(70)			
	
	&-navigation
		align-items: center
		background-color: $dark-purple
		display: flex
		height: rem(30)
		justify-content: center
		opacity: 0.5
		position: fixed
		top: 0
		width: 100vw
		z-index: 5
		+breakpoint($lg)
			background-color: transparent
			flex-direction: column
			height: 100vh
			opacity: 1
			width: 5vw

		a
			background-color: $white
			border-radius: 50%
			display: block
			height: rem(15)
			margin: 0 rem(13)
			width: rem(15)
			+breakpoint($lg)
				height: rem(15)
				margin: rem(15) 0
				width: rem(15)

	&-nav
		+reset
		display: none

		&--expanded
			background-color: $white
			display: block
			height: 70vh
			position: fixed
			top: 0
			+breakpoint($lg)
				height: 100vh

		&__menu
			padding: 0
			display: flex

		&__item
			list-style-type: none

			a
				text-decoration: none
				color: $dark-purple
				font: rem(30) $slim

	&-about
		+reset
		align-content: space-around
		align-items: center
		background-color: $pinker
		background-image: linear-gradient(to bottom right, $pinker 50%, $purple 50%)
		display: flex
		height: 100vh
		position: relative
		justify-content: space-around
		padding: 3%
		width: 100vw
		flex-direction: column
		+breakpoint($lg)   
			flex-direction: row
			
		h3
			+reset
			color: $white
			font: rem(22) $title
			margin: 5% 0
			+breakpoint($lg)
				font-size: rem(34)
			
		p
			+reset
			color: $white
			font: 300 rem(14) $sans
			line-height: rem(20)
			+breakpoint($lg)
				font-size: rem(22)
				line-height: rem(35)

		div
			box-sizing: border-box
			border-radius: 10px
			height: 43vh
			opacity: 0.8
			text-align: center
			width: 90%
			padding: 0 rem(15)
			+breakpoint($lg)
				width: 40%
				height: 60vh
				padding: 0 rem(30)

		&__me
			background-color: $super-dark-blue

		&__do
			background-color: $super-dark-blue

		&__believes
			background-color: $super-dark-blue
			display: none

	&-projects
		+reset
		background-color: $purple
		background-image: linear-gradient(to top right, $pink 50%, $purple 50%)
		height: 100vh
		position: relative
		text-align: center
		width: 100vw

		&__heading
			@extend %heading
			color: $white

		&__allprojects
			box-sizing: border-box
			display: flex
			flex-wrap: wrap
			left: 50%
			position: absolute
			top: 20%
			transform: translateX(-50%)
			width: 90%
			+breakpoint($lg)
				width: 80%

		&__project
			background: $dark-blue
			border-radius: 10px
			box-sizing: border-box
			max-height: rem(250)
			opacity: 0.8
			padding: 0 rem(15)
			width: 100%
			+breakpoint($lg)
				padding: 0 rem(30)
				width: 80%
				margin: 0 auto

		&__moreprojects
			+reset-button
			background-color: $turquoise
			border-radius: 10px
			color: $white
			font: rem(18) $slim
			height: 5%
			left: 50%
			position: absolute
			top: 90%
			transform: translateX(-50%)
			width: 20%
		
		.cm-project
			&__content
				margin-top: 3%
				float: right
				height: 90%
				width: 60%
				+breakpoint($lg)
					text-align: left
					width: 70%

			&__title
				+reset
				color: $white
				font: rem(22) $slim
				margin-bottom: rem(15)
				+breakpoint($lg)
					font-size: rem(34)
			
			&__description
				+reset
				color: $white
				font: 300 rem(16) $sans
				+breakpoint($lg)
					font-size: rem(22)
			
			&__img
				position: relative
				float: left
				height: 90%
				width: 40%
				+breakpoint($lg)
					width: 23%
					padding: 0
				
				img
					margin: 15% 0
					height: auto
					width: 100%
					+breakpoint($lg)

	&-academic
		+reset
		background-color: $pink
		background-image: linear-gradient(to bottom right, $pink 50%, $pinker 50%)
		height: 100vh
		position: relative
		text-align: center
		width: 100vw

		&__heading
			@extend %heading

		&__content
			align-items: center
			box-sizing: border-box
			display: flex
			height: 75%
			justify-content: space-around
			margin: 0 auto
			padding: 0 rem(15)
			position: relative
			+breakpoint($lg)
				padding: 0 rem(30)                
				width: 80%

			div
				background-color: $super-dark-blue
				border-radius: 10px
				height: 47%
				opacity: 0.8
				width: 100%
				+breakpoint($lg)
					height: 100%
					width: 47%

				h2
					+reset
					color: $white
					font: rem(22) $title
					margin: 5% 0
					+breakpoint($lg)
						font-size: rem(34)

	&-contact
		background-color: $pinker
		//background-image: linear-gradient(to top right, $white 50%, $pinker 50%)
		background-image: linear-gradient(to bottom right, $pink 50%, $pinker 50%)
		height: 100vh
		position: relative
		text-align: center
		width: 100vw

		&__content
			box-sizing: border-box
			height: 80%
			width: 80%
			background-color: $super-dark-blue
			margin: 0
			position: relative
			padding: 5%
			padding-top: 10%
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			+breakpoint($lg)
				height: 75%
				padding: 5%
				width: 75%

		&__heading
			+reset
			font: rem(25) $title
			color: $pinker
			margin-bottom: 10%
			+breakpoint($lg)
				font-size: rem(40)
				margin: 0
		
		&__contact
			margin: 30% 0 0 
			+breakpoint($lg)
				margin: 5% 0 0

			h4
				box-sizing: border-box
				margin-bottom: rem(15)
				color: $pinker
				font: rem(22) $slim 
				+breakpoint($lg)
					+reset
					font-size: rem(30)                

			p
				color: $white
				font: rem(18) $slim
				+breakpoint($lg)
					font-size: rem(23)

			div
				box-sizing: border-box
				display: inline-block
				text-align: center

				div
					height: rem(35)
					margin: 0 rem(10)
					width: rem(35)
					+breakpoint($lg)
						height: rem(50)
						width: rem(50)

		&__linkedin
			background-image: url(../img/icons/linkedin.png)
			background-size: cover
			cursor: pointer

		&__github
			background-image: url(../img/icons/github.png)
			background-size: cover
			cursor: pointer
		
		&__twitter
			background-image: url(../img/icons/twitter.png)
			background-size: cover
			cursor: pointer

.off
	display: none