@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,800");
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface");
@import url("https://fonts.googleapis.com/css?family=Poiret+One");
body, html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cm-header {
  background-color: #ffcfd2;
  background-image: linear-gradient(to top right, #ffcfd2 50%, #fefcfd 50%);
  height: 100vh;
  width: 100vw;
  text-align: center;
}
.cm-header img {
  border-radius: 50%;
  border: 5px solid #baa7b0;
  position: absolute;
  height: 40%;
  left: 50%;
  transform: translateX(-50%);
  top: 13%;
}
@media (min-width: 62rem) {
  .cm-header img {
    height: 50%;
    border-width: 10px;
    left: 8%;
    top: 50%;
    transform: translateY(-50%);
  }
}
.cm-header__content {
  position: absolute;
  text-align: center;
  top: 60%;
}
@media (min-width: 62rem) {
  .cm-header__content {
    right: 8%;
    top: 50%;
    transform: translateY(-50%);
  }
}
.cm-header__title {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #564256;
  font: 3.125rem "Poiret One", cursive;
  margin-bottom: 3%;
}
@media (min-width: 62rem) {
  .cm-header__title {
    font-size: 5.625rem;
  }
}
.cm-header__subtitle {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #564256;
  font: 1.875rem "Poiret One", cursive;
}
@media (min-width: 62rem) {
  .cm-header__subtitle {
    font-size: 3.125rem;
    line-height: 4.375rem;
  }
}
.cm-nav {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: none;
}
.cm-nav--expanded {
  background-color: #fefcfd;
  display: block;
  height: 70vh;
  position: fixed;
  top: 0;
}
@media (min-width: 62rem) {
  .cm-nav--expanded {
    height: 100vh;
  }
}
.cm-nav__menu {
  padding: 0;
  display: flex;
}
.cm-nav__item {
  list-style-type: none;
}
.cm-nav__item a {
  text-decoration: none;
  color: #564256;
  font: 1.875rem "Poiret One", cursive;
}
.cm-about {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  align-items: center;
  background-color: #ffcfd2;
  background-image: linear-gradient(to bottom right, #ffcfd2 50%, #baa7b0 50%);
  display: flex;
  height: 100vh;
  position: relative;
  justify-content: space-around;
  padding: 3%;
  width: 100vw;
  flex-direction: column;
}
@media (min-width: 62rem) {
  .cm-about {
    flex-direction: row;
  }
}
.cm-about h3 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #564256;
  font: 1.375rem "Abril Fatface", cursive;
  margin: 5% 0;
}
@media (min-width: 62rem) {
  .cm-about h3 {
    font-size: 2rem;
  }
}
.cm-about p {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: 0.875rem Montserrat, sans-serif;
}
@media (min-width: 62rem) {
  .cm-about p {
    font-size: 1.625rem;
  }
}
.cm-about div {
  border-radius: 10px;
  height: 32%;
  opacity: 0.8;
  text-align: center;
  width: 90%;
}
@media (min-width: 62rem) {
  .cm-about div {
    width: 30%;
    height: 80vh;
  }
}
.cm-about__me {
  background-color: #afd6cb;
}
.cm-about__do {
  background-color: #a7d3a6;
}
.cm-about__believes {
  background-color: #f7ef81;
}
.cm-projects {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #baa7b0;
  background-image: linear-gradient(to top right, #efd2cb 50%, #baa7b0 50%);
  height: 100vh;
  position: relative;
  text-align: center;
  width: 100vw;
}
.cm-projects__heading {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: 3.75rem "Abril Fatface", cursive;
  color: #fefcfd;
}
.cm-projects__allprojects {
  padding: 3%;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}
@media (min-width: 62rem) {
  .cm-projects__allprojects {
    width: 80%;
  }
}
.cm-projects__project {
  height: 20%;
  background: #28536b;
  border-radius: 10px;
  width: 100%;
}
.cm-projects .cm-project__title {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: 1.375rem "Poiret One", cursive;
  color: #fefcfd;
}
@media (min-width: 62rem) {
  .cm-projects .cm-project__title {
    font-size: 1.75rem;
  }
}
.cm-projects .cm-project__description {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: 1rem Montserrat, sans-serif;
  color: #fefcfd;
}
@media (min-width: 62rem) {
  .cm-projects .cm-project__description {
    font-size: 1.375rem;
  }
}
.cm-academic {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #efd2cb;
  background-image: linear-gradient(to bottom right, #efd2cb 50%, #ffcfd2 50%);
  height: 100vh;
  position: relative;
  text-align: center;
  width: 100vw;
}
.cm-academic__heading {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: 3.75rem "Abril Fatface", cursive;
  color: #564256;
}
.cm-contact {
  background-color: #ffcfd2;
  background-image: linear-gradient(to top right, #fefcfd 50%, #ffcfd2 50%);
  height: 100vh;
  position: relative;
  text-align: center;
  width: 100vw;
}
.cm-contact__content {
  box-sizing: border-box;
  height: 80%;
  width: 80%;
  background-color: #564256;
  position: relative;
  padding: 5%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cm-contact__heading {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: 1.375rem "Abril Fatface", cursive;
  color: #fefcfd;
}

/*# sourceMappingURL=style.css.map */
