@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,800");
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface");
@import url("https://fonts.googleapis.com/css?family=Poiret+One");
body, html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cm-academic__heading, .cm-projects__heading {
  margin: 0;
  padding: 1.25rem 0;
  font: 3.75rem "Abril Fatface", cursive;
  color: #564256;
}
@media (min-width: 62rem) {
  .cm-academic__heading, .cm-projects__heading {
    padding: 2.1875rem 0;
  }
}

.cm-header {
  box-sizing: border-box;
  background-color: #ffcfd2;
  background-image: linear-gradient(to top right, #ffcfd2 50%, #fefcfd 50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-around;
  height: 100vh;
  width: 100vw;
  padding: 10% 0;
}
@media (min-width: 62rem) {
  .cm-header {
    z-index: 6;
  }
}
.cm-header img {
  border-radius: 50%;
  border: 5px solid #baa7b0;
  height: 40%;
}
@media (min-width: 62rem) {
  .cm-header img {
    height: 50%;
    border-width: 10px;
  }
}
.cm-header__content {
  text-align: center;
  margin: 0;
}
.cm-header__title {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #564256;
  font: 3.125rem "Poiret One", cursive;
  margin-bottom: 3%;
}
@media (min-width: 62rem) {
  .cm-header__title {
    font-size: 5.625rem;
  }
}
.cm-header__subtitle {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #564256;
  font: 1.875rem "Poiret One", cursive;
}
@media (min-width: 62rem) {
  .cm-header__subtitle {
    font-size: 3.125rem;
    line-height: 4.375rem;
  }
}
.cm-navigation {
  align-items: center;
  background-color: #564256;
  display: flex;
  height: 1.875rem;
  justify-content: center;
  opacity: 0.5;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 5;
}
@media (min-width: 62rem) {
  .cm-navigation {
    background-color: transparent;
    flex-direction: column;
    height: 100vh;
    opacity: 1;
    width: 5vw;
  }
}
.cm-navigation a {
  background-color: #fefcfd;
  border-radius: 50%;
  display: block;
  height: 0.9375rem;
  margin: 0 0.8125rem;
  width: 0.9375rem;
}
@media (min-width: 62rem) {
  .cm-navigation a {
    height: 0.9375rem;
    margin: 0.9375rem 0;
    width: 0.9375rem;
  }
}
.cm-nav {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: none;
}
.cm-nav--expanded {
  background-color: #fefcfd;
  display: block;
  height: 70vh;
  position: fixed;
  top: 0;
}
@media (min-width: 62rem) {
  .cm-nav--expanded {
    height: 100vh;
  }
}
.cm-nav__menu {
  padding: 0;
  display: flex;
}
.cm-nav__item {
  list-style-type: none;
}
.cm-nav__item a {
  text-decoration: none;
  color: #564256;
  font: 1.875rem "Poiret One", cursive;
}
.cm-about {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  align-content: space-around;
  align-items: center;
  background-color: #ffcfd2;
  background-image: linear-gradient(to bottom right, #ffcfd2 50%, #baa7b0 50%);
  display: flex;
  height: 100vh;
  position: relative;
  justify-content: space-around;
  padding: 3%;
  width: 100vw;
  flex-direction: column;
}
@media (min-width: 62rem) {
  .cm-about {
    flex-direction: row;
  }
}
.cm-about h3 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fefcfd;
  font: 1.375rem "Abril Fatface", cursive;
  margin: 5% 0;
}
@media (min-width: 62rem) {
  .cm-about h3 {
    font-size: 2.125rem;
  }
}
.cm-about p {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fefcfd;
  font: 300 0.875rem Montserrat, sans-serif;
  line-height: 1.25rem;
}
@media (min-width: 62rem) {
  .cm-about p {
    font-size: 1.375rem;
    line-height: 2.1875rem;
  }
}
.cm-about div {
  box-sizing: border-box;
  border-radius: 10px;
  height: 43vh;
  opacity: 0.8;
  text-align: center;
  width: 90%;
  padding: 0 0.9375rem;
}
@media (min-width: 62rem) {
  .cm-about div {
    width: 40%;
    height: 60vh;
    padding: 0 1.875rem;
  }
}
.cm-about__me {
  background-color: #283044;
}
.cm-about__do {
  background-color: #283044;
}
.cm-about__believes {
  background-color: #283044;
  display: none;
}
.cm-projects {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #baa7b0;
  background-image: linear-gradient(to top right, #efd2cb 50%, #baa7b0 50%);
  height: 100vh;
  position: relative;
  text-align: center;
  width: 100vw;
}
.cm-projects__heading {
  color: #fefcfd;
}
.cm-projects__allprojects {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  left: 50%;
  position: absolute;
  top: 20%;
  transform: translateX(-50%);
  width: 90%;
}
@media (min-width: 62rem) {
  .cm-projects__allprojects {
    width: 80%;
  }
}
.cm-projects__project {
  background: #28536b;
  border-radius: 10px;
  box-sizing: border-box;
  max-height: 15.625rem;
  opacity: 0.8;
  padding: 0 0.9375rem;
  width: 100%;
}
@media (min-width: 62rem) {
  .cm-projects__project {
    padding: 0 1.875rem;
    width: 80%;
    margin: 0 auto;
  }
}
.cm-projects__moreprojects {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  background-color: #05a8aa;
  border-radius: 10px;
  color: #fefcfd;
  font: 1.125rem "Poiret One", cursive;
  height: 5%;
  left: 50%;
  position: absolute;
  top: 90%;
  transform: translateX(-50%);
  width: 20%;
}
.cm-projects .cm-project__content {
  margin-top: 3%;
  float: right;
  height: 90%;
  width: 60%;
}
@media (min-width: 62rem) {
  .cm-projects .cm-project__content {
    text-align: left;
    width: 70%;
  }
}
.cm-projects .cm-project__title {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fefcfd;
  font: 1.375rem "Poiret One", cursive;
  margin-bottom: 0.9375rem;
}
@media (min-width: 62rem) {
  .cm-projects .cm-project__title {
    font-size: 2.125rem;
  }
}
.cm-projects .cm-project__description {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fefcfd;
  font: 300 1rem Montserrat, sans-serif;
}
@media (min-width: 62rem) {
  .cm-projects .cm-project__description {
    font-size: 1.375rem;
  }
}
.cm-projects .cm-project__img {
  position: relative;
  float: left;
  height: 90%;
  width: 40%;
}
@media (min-width: 62rem) {
  .cm-projects .cm-project__img {
    width: 23%;
    padding: 0;
  }
}
.cm-projects .cm-project__img img {
  margin: 15% 0;
  height: auto;
  width: 100%;
}
.cm-academic {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #efd2cb;
  background-image: linear-gradient(to bottom right, #efd2cb 50%, #ffcfd2 50%);
  height: 100vh;
  position: relative;
  text-align: center;
  width: 100vw;
}
.cm-academic__content {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 75%;
  justify-content: space-around;
  margin: 0 auto;
  padding: 0 0.9375rem;
  position: relative;
}
@media (min-width: 62rem) {
  .cm-academic__content {
    padding: 0 1.875rem;
    width: 80%;
  }
}
.cm-academic__content div {
  background-color: #283044;
  border-radius: 10px;
  height: 47%;
  opacity: 0.8;
  width: 100%;
}
@media (min-width: 62rem) {
  .cm-academic__content div {
    height: 100%;
    width: 47%;
  }
}
.cm-academic__content div h2 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fefcfd;
  font: 1.375rem "Abril Fatface", cursive;
  margin: 5% 0;
}
@media (min-width: 62rem) {
  .cm-academic__content div h2 {
    font-size: 2.125rem;
  }
}
.cm-contact {
  background-color: #ffcfd2;
  background-image: linear-gradient(to bottom right, #efd2cb 50%, #ffcfd2 50%);
  height: 100vh;
  position: relative;
  text-align: center;
  width: 100vw;
}
.cm-contact__content {
  box-sizing: border-box;
  height: 80%;
  width: 80%;
  background-color: #283044;
  margin: 0;
  position: relative;
  padding: 5%;
  padding-top: 10%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 62rem) {
  .cm-contact__content {
    height: 75%;
    width: 75%;
  }
}
.cm-contact__heading {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: 1.5625rem "Abril Fatface", cursive;
  color: #ffcfd2;
  margin-bottom: 10%;
}
@media (min-width: 62rem) {
  .cm-contact__heading {
    font-size: 2.5rem;
    margin: 0;
  }
}
.cm-contact__contact {
  margin: 30% 0 0;
}
@media (min-width: 62rem) {
  .cm-contact__contact {
    margin: 5% 0 0;
  }
}
.cm-contact__contact h4 {
  box-sizing: border-box;
  margin-bottom: 0.9375rem;
  color: #ffcfd2;
  font: 1.375rem "Poiret One", cursive;
}
@media (min-width: 62rem) {
  .cm-contact__contact h4 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1.875rem;
  }
}
.cm-contact__contact p {
  color: #fefcfd;
  font: 1.125rem "Poiret One", cursive;
}
@media (min-width: 62rem) {
  .cm-contact__contact p {
    font-size: 1.4375rem;
  }
}
.cm-contact__contact div {
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
}
.cm-contact__contact div div {
  height: 2.1875rem;
  margin: 0 0.625rem;
  width: 2.1875rem;
}
@media (min-width: 62rem) {
  .cm-contact__contact div div {
    height: 3.125rem;
    width: 3.125rem;
  }
}
.cm-contact__linkedin {
  background-image: url(../img/icons/linkedin.png);
  background-size: cover;
  cursor: pointer;
}
.cm-contact__github {
  background-image: url(../img/icons/github.png);
  background-size: cover;
  cursor: pointer;
}
.cm-contact__twitter {
  background-image: url(../img/icons/twitter.png);
  background-size: cover;
  cursor: pointer;
}

.off {
  display: none;
}

/*# sourceMappingURL=style.css.map */
